.moviePoster {
    max-width: 100%;
    width: 300px;
    border: 5px solid rgb(0, 0, 0);
    overflow: hidden;
    padding: 15px;
    margin: 0 20px;
    background: rgb(28, 28, 33);
    color: white;
}

.image {
    width: 100%;
    height: 75%;
}

p {
    font-size: 1.5em;
}