.navbar {
	flex-grow: 1;
	background-image: linear-gradient(#641318, #000);
	left: 0;
	right: 0;
}

.navbarContainer {
	margin: 0 auto;
}

.links {
	list-style: none;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	font-weight: 300;
	color: #f8dfe2;
	padding: 0;
}

a {
	color: #f8dfe2;
	text-decoration: none;
	margin: 5px;
}

.avatar {
	width: 50px;
	border-radius: 50%;
}